torch>=2.1.0
transformers>=4.40.0
peft>=0.6.0
datasets>=2.15.0
accelerate
bitsandbytes>=0.41.0
numpy>=1.27.0
tqdm>=4.66.0

# 추가
sentencepiece
protobuf
safetensors
psutil
colorama

#(시각화/로그)
wandb
pyyaml